PEP249 psycorp cx_Oracle

In [1]:
import sqlite3

In [2]:
db = sqlite3.connect(":memory:") #sqlite3 Oracle (host / port / )

In [4]:
cursor = db.cursor()
cursor.execute("create table a (id integer primary key, name varchar(30))")

cursor.close()

In [12]:
db.execute("insert into a (name) values (?)", ("Bill",))

In [13]:
db.commit()

In [15]:
db.execute("insert into a (name) values (?)", ("John",))

In [16]:
db.execute("insert into a (name) values (?)", ("Mary",))

In [17]:
db.execute("insert into a (name) values (?)", ("Tom",))

In [18]:
db.commit()

In [19]:
cursor = db.execute('select * from a')

In [20]:
cursor.fetchone()

(1, 'Bill')

In [22]:
cursor.fetchmany(2)

[(2, 'John'), (3, 'Mary')]

In [23]:
cursor.fetchall()

[(4, 'Tom')]

In [24]:
cursor.close()

In [25]:
for row in db.execute("select * from a"):
    print(row)

(1, 'Bill')
(2, 'John')
(3, 'Mary')
(4, 'Tom')

In [29]:
for row in db.execute("select * from a"):
    a = []
    a = row
    print(a)

(1, 'Bill')
(2, 'John')
(3, 'Mary')
(4, 'Tom')

In [32]:
for id_ ,name in db.execute('select * from a'):
    print(id_, name)

1 Bill
2 John
3 Mary
4 Tom

In [33]:
for id_ ,name in db.execute('select * from a'):
    if name == 'Tom':
        print('lolo')
    print(name)

Bill
John
Mary
lolo
Tom

with cursor as db.cursor():
    #sqlite not work // for oracle

In [34]:
db.close()